.firstDiv {
  display: "flex";
  justify-content: "space-around";
  align-items: "center";
  @media (max-width: 800px) {
    display: flex !important;
    flex-direction: column !important;
  }
}

.aboutImage {
  border-radius: 30px;
  margin: 15px;
}

.middleText {
  align-self: center;
  max-width: 500px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.skillList {
  align-self: center;
  font-weight: bold;
  font-size: larger;
  text-align: left;
}
