.educationContainer {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.educationContainer h1 {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom-style: groove;
}

.educationItem {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
  padding: 20px 10px;
  border: 1px outset bisque;
  border-radius: 20px;
  width: 100%;
  background-image: radial-gradient(
    circle,
    #bac4c4,
    #bac8cc,
    #bdccd6,
    #c4cfdf,
    #cfd0e5,
    #dbcee5,
    #e8cde0,
    #f3ccd8,
    #f9cbc8,
    #f6cdb9,
    #ead2ae,
    #d6d8ac
  );
}

.eduImage {
  margin-left: 5%;
  margin-right: 15%;
  @media (max-width: 450px) {
    margin-right: 10%;
  }
}

.eduText {
  margin-right: 30%;
}

.eduTextAbnormal {
  margin-left: 5%;
  @media (max-width: 450px) {
    margin-left: 0;
  }
}

.educationItem img {
  object-fit: contain;

  /* margin-right: 50px; */
}

/* .educationItem p {
  margin: 5px 0;
} */
