.educationContainer {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  text-align: left;
}
.educationContainer h1 {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom-style: groove;
}

.educationItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;
  border: 1px outset bisque;
  border-radius: 20px;
  width: 650px;
  background-image: radial-gradient(
    circle,
    #bac4c4,
    #bac8cc,
    #bdccd6,
    #c4cfdf,
    #cfd0e5,
    #dbcee5,
    #e8cde0,
    #f3ccd8,
    #f9cbc8,
    #f6cdb9,
    #ead2ae,
    #d6d8ac
  );
}

.educationItem img {
  object-fit: contain;
  margin-right: 50px;
}

.educationItem h2 {
  font-size: 18px;
}

.educationItem p {
  margin: 5px 0;
}
