:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

html {
  font-size: calc(60% + 0.8vmin);
}

body {
  margin: 0 auto;
  background-image: radial-gradient(
    circle,
    #bac4c4,
    #bac8cc,
    #bdccd6,
    #c4cfdf,
    #cfd0e5,
    #dbcee5,
    #e8cde0,
    #f3ccd8,
    #f9cbc8,
    #f6cdb9,
    #ead2ae,
    #d6d8ac
  );
}

a {
  color: inherit;
  text-decoration: none;
}
