.mainDiv {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid darkgrey;
  border-radius: 30px;
  margin: 0 15px;
  background-image: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 93, 1) 22%,
    rgba(0, 212, 255, 1) 100%
  );
}

.logo {
  border-radius: 40px;
}

.belowHeader {
  display: flex;
  gap: 50px;
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    .profileContainer {
      display: flex;
      flex-direction: row;
      position: static;
    }
  }
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid darkgrey;
  border-radius: 30px;
  padding: 20px;
  margin: 15px;
  height: 100%;
  position: sticky;
  top: 50px;
  background-image: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 93, 1) 22%,
    rgba(0, 212, 255, 1) 100%
  );
  @media (max-width: 1200px) {
    display: flex;
  }
}

.profileContainer .profileImage {
  border-radius: 10%;
}

.titleContainer {
  margin: 15px;
}

.title {
  margin-top: -10px;
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 10px;
  padding: 5px;
}

.profileInfo {
  margin: 10px;
  padding: 15px;
  border-top-style: groove;
}

.profileInfo p {
  margin: 15px;
}

.info {
  display: flex;
  text-align: left;
  align-items: center;
}

.infoIcon {
  font-size: xx-large;
  border-radius: 15px;
  padding: 5px;
  border: 1px outset darkgray;
}

.infoHeader {
  color: darkslategray;
  font-weight: bold;
}

.iconsContainer {
  margin-top: 20px;
  font-size: xx-large;
}

.iconsContainer a {
  margin: 5px;
}

.children {
  border: 1px solid darkgrey;
  border-radius: 30px;
  padding: 20px;
  margin: 15px;
  height: 100%;
  width: 100%;
  text-align: -webkit-center;
}

.headerLink {
  margin-left: 20px;
  padding: 10px;
  border: outset transparent;
  background-image: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 10px;
}

.headerLink:hover {
  border: inset aquamarine;
}

.active {
  margin-left: 20px;
  padding: 10px;
  border: outset transparent;
  color: aquamarine;
  background-image: radial-gradient(
    circle,
    rgba(201, 67, 126, 1) 0%,
    rgba(31, 49, 70, 1) 100%
  );
  border-radius: 10px;
}

.active:hover {
  border: inset;
}
